
  
  @font-face {
    font-family: "vazir";
    src: url("/?loadbalance=true&action=asset&file=/assets/vazir.woff");
  }
  
  

  body .font-vazir {
    font-family: "vazir" !important;
  
    .Vue-Toastification__toast {
      font-family: 'vazir' !important;
    }
  
  }
  
  