
@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/yekan/IRANYekanX-Bold.woff') format('woff'),   
	url('../fonts/yekan/IRANYekanX-Bold.woff2') format('woff2');	 
}

@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/yekan/IRANYekanX-Regular.woff') format('woff'),   
	url('../fonts/yekan/IRANYekanX-Regular.woff2') format('woff2');	 
}

@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/kalameh/KalamehWeb-Thin.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/kalameh/KalamehWeb-Thin.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/kalameh/KalamehWeb-Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/kalameh/KalamehWeb-Black.woff') format('woff')  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/kalameh/KalamehWeb-Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/kalameh/KalamehWeb-Bold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/kalameh/KalamehWeb-Regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/kalameh/KalamehWeb-Regular.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}




@font-face {
	font-family: Morabba;
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/morabba/Morabba-UltraLight.woff') format('woff'),
	url('../fonts/morabba/Morabba-UltraLight.woff2') format('woff2');
}



@font-face {
	font-family: Morabba;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/morabba/Morabba-Heavy.woff') format('woff'),
	url('../fonts/morabba/Morabba-Heavy.woff2') format('woff2');
}

@font-face {
	font-family: Morabba;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/morabba/Morabba-bold.woff') format('woff'),
	url('../fonts/morabba/Morabba-bold.woff2') format('woff2');
}

@font-face {
	font-family: Morabba;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/morabba/Morabba-regular.woff') format('woff'),
	url('../fonts/morabba/Morabba-regular.woff2') format('woff2');
}


@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/yekanbakh/YekanBakh-thin.woff') format('woff'),   
	url('../fonts/yekanbakh/YekanBakh-thin.woff2') format('woff2');		
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/yekanbakh/YekanBakh-Light.woff') format('woff'),   
	url('../fonts/yekanbakh/YekanBakh-Light.woff2') format('woff2');	
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/yekanbakh/YekanBakh-Regular.woff') format('woff'),   
	url('../fonts/yekanbakh/YekanBakh-Regular.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/yekanbakh/YekanBakh-SemiBold.woff') format('woff'),   
	url('../fonts/yekanbakh/YekanBakh-SemiBold.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/yekanbakh/YekanBakh-Bold.woff') format('woff'),   
	url('../fonts/yekanbakh/YekanBakh-Bold.woff2') format('woff2'); 
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/yekanbakh/YekanBakh-ExtraBold.woff') format('woff'),   
	url('../fonts/yekanbakh/YekanBakh-ExtraBold.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/yekanbakh/YekanBakh-Black.woff') format('woff'),   
	url('../fonts/yekanbakh/YekanBakh-Black.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 950;
	src: url('../fonts/yekanbakh/YekanBakh-ExtraBlack.woff') format('woff'),   
	url('../fonts/yekanbakh/YekanBakh-ExtraBlack.woff2') format('woff2');		 
}




@font-face {
    font-family: "yekan";
    src: url("./../fonts/yekan.woff");
  }
  
  @font-face {
    font-family: "iransans";
    src: url("./../fonts/iranSans.woff");
  }
  
  @font-face {
    font-family: "vazir";
    src: url("./../fonts/vazir.woff");
  }
  
  



body .font-yekan {
    font-family: "yekan" !important;
  
    .Vue-Toastification__toast {
      font-family: 'yekan' !important;
    }
  
  }
  body .font-iranyekan {
    font-family: IRANYekanX !important ;
  
    .Vue-Toastification__toast {
      font-family: IRANYekanX !important;
    }
  
  }
  
  body .font-yekanbakh {
    font-family: Yekan Bakh !important;
  
    .Vue-Toastification__toast {
      font-family: Yekan Bakh !important;
    }
  
  }
  
  body .font-morabba {
    font-family: Morabba !important;
  
    .Vue-Toastification__toast {
      font-family: Morabba !important;
    }
  
  }
  
  
  body .font-kalameh {
    font-family: KalamehWeb !important;
  
    .Vue-Toastification__toast {
      font-family: KalamehWeb !important;
    }
  
  }
  
  body .font-iransans {
    font-family: "iransans";
  
    .Vue-Toastification__toast {
      font-family: 'iransans' !important;
    }
  
  }
  
  body .font-vazir {
    font-family: "vazir" !important;
  
    .Vue-Toastification__toast {
      font-family: 'vazir' !important;
    }
  
  }
  
  